@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root {
    --main-color: #588A11; /* Medium Sea Green */
    --secondary-color: #556B2F; /* Dark Olive Green */
    --accent-color: #EEE8AA; /* Pale Goldenrod */
    --background-color: #F5F5DC; /* Beige */
    --text-color: #2F4F4F; /* Dark Slate Gray */
}

* {
    font-family: "Merienda", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--accent-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    font-weight: bolder;
    color: var(--background-color);
    font-size: 2.5rem;
    text-decoration: none; /* Remove underline from logo */
}

.header .logo span {
    color: var(--main-color);
}

.header .logo:hover {
    color: var(--accent-color);
}

.navbar {
    display: flex;
}
.navbar a {
    text-decoration: none;
    color: var(--background-color);
    margin: 0 1rem;
    font-size: 1.6rem;
}

.navbar a:hover {
    color: var(--accent-color);
}


#menu-bars {
    font-size: 3rem;
    color: var(--background-color);
    cursor: pointer;
   display: none;
}


















/* media queries */
@media (max-width: 991px){
    html {
        font-size: 55%;

    }

    .header{
        padding: 1.5rem 2rem;
    }
}


@media (max-width: 768px){
    #menu-bars {
        display: initial;
    }

.header.navbar{
    position: absolute;
    top:100%; left:0; right:0;
    border-top: 0.1rem solid #556B2F;
    background: #F5F5DC;
    clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
}

    .header.navbar .active{
clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0)
    }


.fa-times{
transform: rotate(180deg);

}


.header.navbar a{
    display: flex;
    background: #556B2F;
    border-radius: .5rem;
    padding:1.3rem;
    margin:1.3rem;
    font-size: 2rem;
}
}

@media (max-width: 450px){
    html {
        font-size: 50%;

    }

}

